<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Gerenciador de Recursos Semânticos</title>
        <link rel="stylesheet" href="css/meu_estilo.css" type="text/css"/>
    </h:head>
    <h:body>
        <ui:include src="menuBar.xhtml"/>
        
        <p:panel id="painelGeral">
            <f:facet name="header">
                <p:graphicImage url="imagens/resources.png" width="20px" height="20px"  />
                <p:outputLabel value=" Editar Recurso"/>
            </f:facet>
            <h:form>
                <p:growl id="growl" showSummary="false" showDetail="true" autoUpdate="true" life="5000" />
                
                
                <ui:include src="namespacesFieldset.xhtml"/>
                
                
                                
                <p:fieldset id="triplasForm" legend="Triplas:" style="margin-bottom: 15px">
                    <pe:dynaForm id="dynaForm" value="#{editResourceBean.model}" var="tripla"> 
                        <pe:dynaFormControl type="dominioForm" >  
                            <p:outputLabel id="dominio"  value="#{tripla.subject.uri}" style="font-weight: 600" />
                        </pe:dynaFormControl>
                        <pe:dynaFormControl type="idForm">  
                            <p:outputLabel id="id"  value="&nbsp; / [ id ]" style="font-weight: 500" title="Identificador único. Gerado automaticamente ao cadastrar este recurso" />
                        </pe:dynaFormControl>
                        <pe:dynaFormControl type="sujeitoFormInvisible">  
                            <p:inputText id="sujeitoInvisible" rendered="false" value="#{tripla.subject.subject}"/>
                        </pe:dynaFormControl>
                        <pe:dynaFormControl type="sujeitoForm">                              
                            <p:inputText id="sujeito"  value="#{tripla.subject.subject}">
                                <p:ajax event="blur" process="@this"/>
                            </p:inputText>
                        </pe:dynaFormControl>
                        <pe:dynaFormControl type="predicadoForm">  
                            <p:autoComplete id="predicado" value="#{tripla.predicate.predicate}" completeMethod="#{editResourceBean.completeTextPredicate}">
                                <p:ajax event="blur" process="@this"/>
                            </p:autoComplete>                            
                        </pe:dynaFormControl>
                        <pe:dynaFormControl type="predicadoFormRead">  
                            <p:inputText id="predicadoRead" readonly="true" value="#{tripla.predicate.predicate}">
                                <p:ajax event="blur" process="@this" />
                            </p:inputText>    
                        </pe:dynaFormControl>
                        <pe:dynaFormControl type="predicadoFormInvisible">  
                            <p:inputText id="predicadoInvisible" readonly="true" rendered="false" value="#{tripla.predicate.predicate}"/>  
                        </pe:dynaFormControl>
                        <pe:dynaFormControl type="objetoFormRdfType">
                            <p:autoComplete id="objetoRdfType" value="#{tripla.object.object}" completeMethod="#{editResourceBean.completeTextObject}">
                                <f:attribute name="tripla" value="#{tripla}" />
                                <p:ajax event="itemSelect" process="@this" delay="100" update="dynaForm" listener="#{editResourceBean.generateForm(tripla)}"/>
                                <p:ajax event="blur" process="@this" />
                            </p:autoComplete>    
                        </pe:dynaFormControl>
                        <pe:dynaFormControl type="objetoForm">
                            <p:autoComplete id="objeto" value="#{tripla.object.object}" completeMethod="#{editResourceBean.completeTextObject}" >
                                <f:attribute name="tripla" value="#{tripla}" />
                                <p:ajax event="blur" process="@this"/>
                            </p:autoComplete>    
                        </pe:dynaFormControl>
                        <pe:dynaFormControl type="op0" styleClass="clearLink">
                            <p:commandButton update="dynaForm"
                                           action="#{editResourceBean.addTripla(tripla, 1)}"  
                                           global="false" style="margin-left:10px"
                                           value=";" />
                            <p:commandButton update="dynaForm"  
                                           action="#{editResourceBean.addTripla(tripla, 2)}"  
                                           global="false" style="margin-left:10px"
                                           value="," />
                            <p:commandButton  update="dynaForm" disabled="true" 
                                           action="#{editResourceBean.removeTripla(tripla)}"  
                                           global="false" style="margin-left:10px"
                                           icon="ui-icon-trash"/>
                        </pe:dynaFormControl>
                        <pe:dynaFormControl type="op1" styleClass="clearLink">
                            <p:commandButton update="dynaForm"  
                                           action="#{editResourceBean.addTripla(tripla, 1)}"  
                                           global="false" style="margin-left:10px"
                                           value=";"/>
                            <p:commandButton update="dynaForm"  
                                           action="#{editResourceBean.addTripla(tripla, 2)}"  
                                           global="false" style="margin-left:10px"
                                           value="," />
                            <p:commandButton update="dynaForm"  
                                           action="#{editResourceBean.removeTripla(tripla)}"  
                                           global="false" style="margin-left:10px"
                                           icon="ui-icon-trash" />
                        </pe:dynaFormControl>
                        <pe:dynaFormControl type="op2" styleClass="clearLink">
                            <p:commandButton update="dynaForm" disabled="true"
                                           action="#{editResourceBean.addTripla(tripla, 1)}"  
                                           global="false" style="margin-left:10px"
                                           value=";" />
                            <p:commandButton update="dynaForm"  
                                           action="#{editResourceBean.addTripla(tripla, 2)}"  
                                           global="false" style="margin-left:10px"
                                           value="," />
                            <p:commandButton  update="dynaForm"  
                                           action="#{editResourceBean.removeTripla(tripla)}"  
                                           global="false" style="margin-left:10px"
                                           icon="ui-icon-trash" />
                        </pe:dynaFormControl>
                        <pe:dynaFormControl type="op3" styleClass="clearLink">
                            <p:commandButton update="dynaForm" disabled="true"
                                           action="#{editResourceBean.addTripla(tripla, 1)}"  
                                           global="false" style="margin-left:10px"
                                           value=";" validateClient="false" immediate="true"/>
                            <p:commandButton update="dynaForm" disabled="true" 
                                           action="#{editResourceBean.addTripla(tripla, 2)}"  
                                           global="false" style="margin-left:10px"
                                           value="," validateClient="false" immediate="true"/>
                            <p:commandButton  update="dynaForm"  
                                           action="#{editResourceBean.removeTripla(tripla)}"  
                                           global="false" style="margin-left:10px"
                                           icon="ui-icon-trash" validateClient="false" immediate="true"/>
                        </pe:dynaFormControl>
                    </pe:dynaForm>
                     
                </p:fieldset>
                       
                
                <p:fieldset style="text-align: center">
                    <p:commandButton value="Voltar"  
                                     style="margin:0px 100px 0 0" icon="ui-icon-arrowreturnthick-1-w"
                                     oncomplete="window.location.assign('resources.xhtml?i=2');" />
                    <p:commandButton value="Redefinir" update="dynaForm" action="#{editResourceBean.limpar()}"  
                                     style="margin:0px 100px 0 0" icon="ui-icon-document"
                                     onclick="PF('process').show();" oncomplete="PF('process').hide();" />  
                    <p:commandButton value="Salvar" style="margin-top:0px;" update="dynaForm" 
                                     action="#{editResourceBean.salvar()}" icon="ui-icon-disk"
                                     onclick="PF('process').show();" oncomplete="PF('process').hide();"
                                     onsuccess="window.location.assign('resources.xhtml?i=2');" delay="1000"/>
                </p:fieldset>  

            </h:form>
        </p:panel>
        <h:outputStylesheet id="dynaFormCSS">  
            .pe-dynaform-cell {  
                vertical-align: top;  
            }  

            .clearLink {  
                vertical-align: middle; 
               
            }  

            .pe-dynaform-cell .ui-spinner input {  
                width: 100%;  
            }  
        </h:outputStylesheet>
        
        <p:dialog  widgetVar="process" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
            <p:graphicImage url="imagens/carregando.gif" width="50px" height="50px" />
        </p:dialog>
        
    </h:body>
</html>

