<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Gerenciador de Recursos Semânticos</title>
        <link rel="stylesheet" href="css/meu_estilo.css" type="text/css"/>

    </h:head>
    <h:body>
        <ui:include src="menuBar.xhtml"/>
        
        <p:panel id="panelForgPasswd">
            <f:facet name="header">
                <p:graphicImage url="imagens/loginKey.png" class="panelIcon"  />
                <p:outputLabel value=" Recuperar Senha"/>
            </f:facet>
            <h:form>
                <p:growl id="growl" showSummary="false" showDetail="true" autoUpdate="true" life="5000" />

                <p:outputLabel value="Digite o E-mail cadastrado:" for="ForgPasswdEmail"/> <br/>
                <p:inputText id="ForgPasswdEmail" class="inputEmail" value="#{forgPasswdBean.email}" required="true" requiredMessage="Informe o E-mail!" /> <br/> <br/>
                
                <p:fieldset class="fieldButton">
                    <p:commandButton class="buttons leftButtons" value="Voltar" oncomplete="window.location.assign('index.xhtml');" icon="ui-icon-arrowreturnthick-1-w"/>
                    <p:commandButton value="Gerar nova senha" action="#{forgPasswdBean.enviarEmail()}" onclick="PF('process').show();" oncomplete="PF('process').hide();" icon="ui-icon-locked"/>
                </p:fieldset>   
            </h:form>
        </p:panel>
        
        
        <p:dialog  widgetVar="process" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
            <p:graphicImage url="imagens/carregando.gif" class="loading" />
        </p:dialog>
    </h:body>
</html>

