<?xml version="1.0" encoding="UTF-8"?>
<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:pe="http://primefaces.org/ui/extensions"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:f="http://xmlns.jcp.org/jsf/core">
 
    <p:fieldset id="fieldsetForm" widgetVar="fieldsetForm" toggleable="true" collapsed="true" legend="Formulários cadastrados:" class="fieldSets ">

            <p:dataTable id="formDT" var="form" value="#{formBean.forms}"  selection="#{formBean.form}" rowKey="#{form.uri}" emptyMessage="Não há formulários cadastrados.">

                <p:column selectionMode="single" class="columnFormSingle" />
                <p:column headerText="Nome" class="columFormName">
                    <h:outputText value="#{form.name}" />
                </p:column>

            </p:dataTable>
            <p:commandButton id="formDTButton1" value="Usar formulário" update="triplasForm" action="#{formBean.loadForm()}" class="fieldSets leftButtons" onclick="PF('process').show();" oncomplete="PF('process').hide(); PF('fieldsetForm').toggle();" icon="ui-icon-check" />
            <p:commandButton id="formDTButton2" value="Excluir formulário" update="formDT" action="#{formBean.deleteForm()}" class="fieldSets" onclick="PF('process').show();" oncomplete="PF('process').hide();" icon="ui-icon-trash" />

        </p:fieldset>
    
</ui:composition>