<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Gerenciador de Recursos Semânticos</title>
        <link rel="stylesheet" href="css/meu_estilo.css" type="text/css"/>
    </h:head>
    <h:body>

        <ui:include src="menuBar.xhtml"/>

        <p:tabView class="panelImport">
            <p:tab title="Importar da WEB">
                <h:form>
                    <p:growl id="growl" showSummary="false" showDetail="true" autoUpdate="true" life="5000" />
                    <p:outputLabel value="URI: " for="inputEmail"/><br/>
                    <p:inputText id="inputEmail" class="inputEmail" value="#{importOntBean.URI}" required="true" requiredMessage=" Informe a URI !" /><br/>
                    <h:outputLabel value="Formato: " for="inputSelect"/><br/>
                    <p:selectOneMenu id="inputSelect" value="#{importOntBean.tipo}" >                           
                        <f:selectItem itemLabel="Auto" itemValue="Auto"/>
                        <f:selectItem itemLabel="N-Triples" itemValue="N-Triples" />
                        <f:selectItem itemLabel="JSON-LD" itemValue="JSON-LD"  />
                        <f:selectItem itemLabel="Turtle" itemValue="TURTLE" />
                        <f:selectItem itemLabel="RDF" itemValue="RDF/XML" />
                        <f:selectItem itemLabel="N3" itemValue="N3"  />
                    </p:selectOneMenu><br/>
                    <p:fieldset class="fieldButton">
                        <p:commandButton value="Voltar" class="buttons leftButtons" oncomplete="window.location.assign('index.xhtml');" icon="ui-icon-arrowreturnthick-1-w"/>
                        <p:commandButton value="Importar" action="#{importOntBean.importURI()}" class="buttons" onclick="PF('process').show();" oncomplete="PF('process').hide();"/>
                    </p:fieldset>
                </h:form>        
            </p:tab>
            <p:tab title="Importar de um arquivo local">
                <h:form enctype="multipart/form-data">
                    <p:growl id="growl" showSummary="false" showDetail="true" autoUpdate="true" life="5000" />
                    <h:outputLabel value="Arquivo: " for="inputFile" /><br/>
                    <p:fileUpload id="inputFile" label="Selecionar" value="#{importOntBean.arquivo}" mode="simple" skinSimple="true"/><br/>
                    <h:outputLabel value="Formato: " for="inputSelect2"/><br/>
                    <p:selectOneMenu id="inputSelect2" value="#{importOntBean.tipo}" >                           
                        <f:selectItem itemLabel="Auto" itemValue="Auto"/>
                        <f:selectItem itemLabel="N-Triples" itemValue="N-Triples" />
                        <f:selectItem itemLabel="JSON-LD" itemValue="JSON-LD"  />
                        <f:selectItem itemLabel="Turtle" itemValue="TURTLE" />
                        <f:selectItem itemLabel="RDF" itemValue="RDF/XML" />
                        <f:selectItem itemLabel="N3" itemValue="N3"  />
                    </p:selectOneMenu><br/>
                    <p:fieldset class="fieldButton">
                        <p:commandButton value="Voltar" class="buttons leftButtons" oncomplete="window.location.assign('index.xhtml');" icon="ui-icon-arrowreturnthick-1-w"/>
                        <p:commandButton value="Importar" ajax="false" actionListener="#{importOntBean.importLocal()}" class="buttons" onclick="PF('process').show();" oncomplete="PF('process').hide();"/>
                    </p:fieldset>
                </h:form> 
            </p:tab>
        </p:tabView>
        
        <p:dialog  widgetVar="process" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
            <p:graphicImage url="imagens/carregando.gif" class="loading" />
        </p:dialog>
    </h:body>
</html>
