<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Gerenciador de Recursos Semânticos</title>
        <link rel="stylesheet" href="css/meu_estilo.css" type="text/css"/>
    </h:head>
    <h:body>
        <ui:include src="menuBar.xhtml"/>
        
        <p:link outcome="newResource.xhtml"> 
            <f:param name="i" value="1" />
            <p:panel id="newResource" class="botoesIndex" rendered="#{userBean.logged}" >
                <h:graphicImage url="imagens/newResource.png" class="imageIndex"/>
                <h:outputText value="Cadastrar Recurso"/>
            </p:panel>
        </p:link>
        
        <p:link outcome="resources.xhtml"> 
            <f:param name="i" value="2" />
            <p:panel id="resources" class="botoesIndex" rendered="#{userBean.logged}" >
                <h:graphicImage url="imagens/resources.png" class="imageIndex"/>
                <h:outputText value="Recursos Cadastrados"/>
            </p:panel>
        </p:link>
        
        <p:link outcome="terminalSparql.xhtml"> 
            <f:param name="i" value="3" />
            <p:panel id="sparqlTerminal" class="botoesIndex" rendered="#{userBean.logged}" >
                <h:graphicImage url="imagens/sparql.png" class="imageIndex"/>
                <h:outputText value="Terminal SPARQL"/>
            </p:panel>
        </p:link>
        
        <p:link outcome="importOnt.xhtml" > 
            <f:param name="i" value="4" />
            <p:panel id="importOntology" class="botoesIndex" rendered="#{userBean.logged}" >
                <h:graphicImage url="imagens/importOntology.png" class="imageIndex"/>
                <h:outputText value="Importar Ontologias"/>
            </p:panel>
        </p:link>
       
        <p:link > 
            <f:param name="i" value="5" />
            <p:panel id="preferences" class="botoesIndex" rendered="#{userBean.logged}" >
                <h:graphicImage url="imagens/preferences.png" class="imageIndex"/>
                <h:outputText value="Configurações"/>
            </p:panel>
        </p:link>
        
        <p:link > 
            <f:param name="i" value="6" />
            <p:panel id="help" class="botoesIndex" rendered="#{userBean.logged}" >
                <h:graphicImage url="imagens/help.png" class="imageIndex"/>
                <h:outputText value="Ajuda"/>
            </p:panel>
        </p:link>
    </h:body>
</html>

