<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Gerenciador de Recursos Semânticos</title>
        <link rel="stylesheet" href="css/meu_estilo.css" type="text/css"/>
    </h:head>
    <h:body>
        <ui:include src="menuBar.xhtml"/>
        <div id="DivB">
            <p:link href="newUser.xhtml">  
                <p:panel id="NewUserB" >
                    <h:graphicImage url="imagens/newUser.png" id="ImageLogin"/><br/>
                    <h:outputText value="Criar nova conta"/>
                </p:panel>
            </p:link>
            <p:panel id="PanelLogin">           
                <f:facet name="header">
                    <p:graphicImage url="imagens/loginKey.png" class="panelIcon"  />
                    <p:outputLabel value=" Acesse sua conta"/>
                </f:facet>

                <h:form>
                    <p:growl id="growl" showSummary="false" showDetail="true" autoUpdate="true" life="5000" />

                    <p:outputLabel value="E-mail:" for="LoginEmail"/>   <br/>            
                    <p:inputText class="inputEmail" id="LoginEmail" value="#{userBean.email}" required="true" requiredMessage="Informe o E-mail!" /> <br/>             

                    <p:outputLabel value="Senha: " for="LoginPasswd"/>      <br/>
                    <p:password id="LoginPasswd" value="#{userBean.senha}" required="true" requiredMessage="Informe a Senha!" /><br/><br/>
                    <p:fieldset class="fieldButton">
                        <p:commandButton class="buttons leftButtons" value="Entrar" action="#{userBean.logar()}" onclick="PF('process').show();" oncomplete="PF('process').hide();" icon="ui-icon-power"/>
                        <p:commandButton value="Esqueci minha senha" validateClient="false" immediate="true" oncomplete="window.location.assign('forgPasswd.xhtml');" icon="ui-icon-help" /><br/>
                    </p:fieldset>
                </h:form>
            </p:panel>
            
        </div>
        
        <p:dialog  widgetVar="process" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
            <p:graphicImage url="imagens/carregando.gif" class="loading" />
        </p:dialog>
    </h:body>
</html>
