<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Gerenciador de Recursos Semânticos</title>
        <link rel="stylesheet" href="css/meu_estilo.css" type="text/css"/>
    </h:head>
    <h:body>

        <ui:include src="menuBar.xhtml"/>

        <p:panel class="panelManage" >
            <f:facet name="header">
                <p:graphicImage url="imagens/preferences.png" class="panelIconNRR"  />
                <p:outputLabel value=" Gerenciar Usuários"/>
            </f:facet>
            <h:form id="formTable">
                <p:growl id="growl" showSummary="false" showDetail="true" autoUpdate="true" life="5000" />

                <f:facet name="header">
                    <p:graphicImage url="imagens/sparql.png" class="panelIconManage" />
                    <p:outputLabel value=" Gerenciar Usuarios"/>
                </f:facet>

                <p:dataTable var="user" id="tableResult" value="#{managerUsersBean.users}" class="fieldSets" editable="true" editMode="cell" emptyMessage="Não há usuários cadastrados !">
                    <p:ajax event="cellEdit" listener="#{managerUsersBean.onCellEdit}" />

                    <p:column filterBy="#{user.name}" class="nameColumn column" filterStyleClass="filters" headerText="Nome">
                        <h:outputText value="#{user.name}"/>
                    </p:column>
                    <p:column filterBy="#{user.name}" filterStyleClass="filters" class="nameColumn column" headerText="E-mail">
                        <h:outputText value="#{user.email}"/>
                    </p:column>
                    <p:column filterBy="#{user.phone}" class="numberColumn column" filterStyleClass="filters"  headerText="Telefone">
                        <h:outputText value="#{user.phone}"/>
                    </p:column>

                    <p:column filterBy="#{user.adm}" headerText="Tipo" class="column">
                        <f:facet name="filter">
                            <p:selectOneMenu onchange="PF('cellUser').filter()" style="width: 70%">
                                <f:converter converterId="javax.faces.Boolean" />
                                <f:selectItem itemLabel="Todos" itemValue="" />
                                <f:selectItem itemLabel="Administradores" itemValue="true" />
                                <f:selectItem itemLabel="Comuns" itemValue="false" />
                            </p:selectOneMenu>
                        </f:facet>
                        <p:cellEditor >
                            <f:facet name="output"><h:outputText rendered="#{user.adm}" value="Administrador" /> <h:outputText rendered="#{!user.adm}" value="Comum" /></f:facet>
                            <f:facet name="input">
                                <p:selectOneMenu  value="#{user.adm}">
                                    <f:selectItem itemLabel="Administrador" itemValue="true" />
                                    <f:selectItem itemLabel="Comum" itemValue="false" />
                                </p:selectOneMenu>
                            </f:facet>
                        </p:cellEditor>
                    </p:column>
                    <p:column filterBy="#{user.activated}" headerText="Estado" class="column">
                        <f:facet name="filter">
                            <p:selectOneMenu onchange="PF('cellUser').filter()" style="width: 70%">
                                <f:converter converterId="javax.faces.Boolean" />
                                <f:selectItem itemLabel="Todos" itemValue="" />
                                <f:selectItem itemLabel="Ativados" itemValue="true" />
                                <f:selectItem itemLabel="Desativados" itemValue="false" />
                            </p:selectOneMenu>
                        </f:facet>
                        <p:cellEditor >
                            <f:facet name="output"><h:outputText rendered="#{user.activated}" value="Ativado" /> <h:outputText rendered="#{!user.activated}" value="Desativado" /></f:facet>
                            <f:facet name="input">
                                <p:selectOneMenu value="#{user.adm}">
                                    <f:selectItem itemLabel="Ativado" itemValue="true" />
                                    <f:selectItem itemLabel="Desativado" itemValue="false" />
                                </p:selectOneMenu>
                            </f:facet>
                        </p:cellEditor>
                    </p:column>
                    <p:column class="iconT">
                        <p:commandLink title="Reiniciar senha" styleClass="ui-icon ui-icon-key keyLink" 
                                       actionListener="#{managerUsersBean.resetPasswd(user)}"
                                       onclick="PF('process').show();" oncomplete="PF('process').hide();">
                            <p:confirm header="Confirmação" message="Deseja realmente reiniciar a senha do usuário ?" icon="ui-icon-alert" />
                        </p:commandLink>
                    </p:column>
                    <p:column class="iconT" >
                        <p:commandLink title="Excluir usuário" styleClass="ui-icon ui-icon-trash" 
                                       actionListener="#{managerUsersBean.excluir(user)}" 
                                       update="formTable" 
                                       onclick="PF('process').show();" oncomplete="PF('process').hide();">
                            <p:confirm header="Confirmação" message="Deseja realmente excluir o recurso ?" icon="ui-icon-alert" />
                        </p:commandLink>
                    </p:column>
                </p:dataTable >
                <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                    <p:commandButton value="Sim" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                    <p:commandButton value="Não" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                </p:confirmDialog> 
            </h:form>
            <h:form>

                <p:fieldset legend="Cadastrar Novo Usuário" class="fieldSets fieldNewManage">
                    <p:panelGrid id="panelNewUser" >
                        <f:facet name="header">
                            <p:row>
                                <p:column>Nome</p:column>
                                <p:column>Email</p:column>
                                <p:column>Telefone</p:column>
                                <p:column>Tipo</p:column>
                                <p:column></p:column>
                            </p:row>
                        </f:facet>
                        <p:row>
                            <p:column class="nameColumn column">
                                <p:inputText value="#{managerUsersBean.name}"/>
                            </p:column>
                            <p:column class="nameColumn column" >
                                <p:inputText value="#{managerUsersBean.email}"/>
                            </p:column>
                            <p:column class="numberColumn column">
                                <p:inputMask mask="(99)99999-9999"/>
                            </p:column>
                            <p:column class="column">
                                <p:selectOneMenu value="#{managerUsersBean.adm}" style="width: 70%">
                                    <f:converter converterId="javax.faces.Boolean" />
                                    <f:selectItem itemLabel="Administrador" itemValue="true" />
                                    <f:selectItem itemLabel="Comum" itemValue="false" />
                                </p:selectOneMenu>
                            </p:column>
                            <p:column class="column">
                                <p:commandButton value="Salvar" update="panelNewUser formTable" action="#{managerUsersBean.salvar()}" icon="ui-icon-disk" onclick="PF('process').show();" oncomplete="PF('process').hide();"/>
                            </p:column>
                        </p:row>
                    </p:panelGrid>
                </p:fieldset>
            </h:form>
        </p:panel>
        <p:dialog  widgetVar="process" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
            <p:graphicImage url="imagens/carregando.gif" class="loading" />
        </p:dialog>
    </h:body>
</html>
