<?xml version="1.0" encoding="UTF-8"?>
<ui:composition
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://java.sun.com/jsf/core">
    
    <p:panel id="PanelMenu">
            <div class="divLogo">
                <h:graphicImage url="imagens/logo1.png" height="115px"/>
            </div>
            <div class="divUser">
                <ui:include src="user.xhtml"/>
            </div>
        </p:panel>
        <h:form>
            <p:tabMenu activeIndex="#{param.i}" class="tabMenu">
                <p:menuitem value="Home" outcome="index.xhtml" icon="ui-icon-home">
                    <f:param name="i" value="0" />
                </p:menuitem>
                <p:menuitem value="Cadastrar Recurso" outcome="newResource.xhtml" rendered="#{userBean.logged}" icon="ui-icon-document">
                    <f:param name="i" value="1" />
                </p:menuitem>
                <p:menuitem value="Recursos Cadastrados" outcome="resources.xhtml" rendered="#{userBean.logged}" icon="ui-icon-pencil">
                    <f:param name="i" value="2" />
                </p:menuitem>
                <p:menuitem value="Terminal SPARQL" outcome="terminalSparql.xhtml" rendered="#{userBean.logged}" icon="ui-icon-search">
                    <f:param name="i" value="3" />
                </p:menuitem>
                <p:menuitem value="Importar Ontologias" outcome="importOnt.xhtml" rendered="#{userBean.logged}" icon="ui-icon-arrowthickstop-1-s">
                    <f:param name="i" value="4" />
                </p:menuitem>
                <p:menuitem value="Configurações" rendered="#{userBean.logged}" icon="ui-icon-gear">
                    <f:param name="i" value="5" />
                </p:menuitem>
                <p:menuitem value="Ajuda" rendered="#{userBean.logged}" icon="ui-icon-help">
                    <f:param name="i" value="6" />
                </p:menuitem>
            </p:tabMenu>
        </h:form>
</ui:composition>
