<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Gerenciador de Recursos Semânticos</title>
        <link rel="stylesheet" href="css/meu_estilo.css" type="text/css"/>
    </h:head>
    <h:body>
        <ui:include src="menuBar.xhtml"/>
        <p:panel id="SingInUser">
            <f:facet name="header">
                <p:graphicImage url="imagens/resources.png" class="panelIcon"  />
                <p:outputLabel value=" Meus Dados"/>
            </f:facet>
            <h:form> 
                <p:growl id="growl" showSummary="false" showDetail="true" autoUpdate="true" life="5000" />

                
                
                <p:outputLabel value="Nome:" for="MyAccName"/> <br/>
                <p:inputText id="MyAccName" class="inputEmail" value="#{myAccountBean.name}" required="true" requiredMessage="Informe o Nome!" /> <br/>

                <p:outputLabel value="E-mail:" for="MyAccEmail"/> <br/>
                <p:inputText id="MyAccEmail" class="inputEmail" value="#{myAccountBean.email}" readonly="true" required="true" requiredMessage="Informe o E-mail!" /> <br/> 

                <p:outputLabel value="Telefone:"/> <br/>
                <p:inputMask mask="(99)9999-99999" value="#{myAccountBean.phone}"/> <br/>

                <p:outputLabel value="Senha atual:" for="MyAccPass"/> <br/>
                <p:password id="MyAccPass" required="true" value="#{myAccountBean.passwd}" requiredMessage="Informe a Senha atual!" /> <br/>
                
                <br/>
                
                <p:selectBooleanCheckbox value="#{myAccountBean.alterPasswd}">
                    <p:ajax update="SingInUser"/>
                </p:selectBooleanCheckbox>
                
                <p:outputLabel value=" Desejo alterar senha "/>

        
                <p:fieldset class="fieldSets" rendered="#{myAccountBean.alterPasswd}">

                    <p:outputLabel value="Nova senha" for="MyAccNewPass"/> <br/>
                    <p:password value="#{myAccountBean.newPasswd}" id="MyAccNewPass" required="true" requiredMessage="Informe a Nova senha!" /> <br/>

                    <p:outputLabel value="Confirmar nova senha" for="MyAccNewPassC"/> <br/>
                    <p:password id="MyAccNewPassC" required="true" value="#{myAccountBean.newPasswdC}" requiredMessage="Informe a Confirmação de nova senha!" />

                </p:fieldset>

                <p:fieldset class="fieldButton">
                    <p:commandButton class="leftButtons buttons" value="Voltar" oncomplete="window.location.assign('index.xhtml');" icon="ui-icon-arrowreturnthick-1-w"/>
                    <p:commandButton class="buttons" value="Salvar" action="#{myAccountBean.salvar()}" icon="ui-icon-disk" onclick="PF('process').show();" oncomplete="PF('process').hide();"/>                   
                </p:fieldset>
            </h:form>
        </p:panel>
        
        <p:dialog  widgetVar="process" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
            <p:graphicImage url="imagens/carregando.gif" class="loading" />
        </p:dialog>
        
        </h:body>
</html>

