<?xml version="1.0" encoding="UTF-8"?>
<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:pe="http://primefaces.org/ui/extensions"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    
    <p:fieldset toggleable="true" collapsed="true" legend="Namespaces cadastrados:" class="fieldSets">
        
        <p:dataTable id="nsDT" var="ns" value="#{nsBean.nss}"  selection="#{nsBean.ns}" rowKey="#{ns.prefix}" emptyMessage="Não há namespaces cadastrados.">
            <p:column selectionMode="single" class="columnFormSingle" />
            <p:column headerText="Prefixo" class="columFormName">
                <h:outputText value="#{ns.prefix}" />
            </p:column>
            <p:column headerText="Uri" class="columFormName">
                <h:outputText value="#{ns.uri}" />
            </p:column>
        </p:dataTable>
        <p:fieldset id="newPrefixo" class="fieldSets">
            <p:outputLabel value="Prefixo: " for="prefixo"/>
            <p:inputText id="prefixo" value="#{nsBean.newPrefixo}"/>
            <p:outputLabel value=" Uri: " for="uri"/>
            <p:inputText id="uri" value="#{nsBean.newUri}" class="inputNameField" />
            <p:commandButton value="Cadastrar" action="#{nsBean.salvar}" update="nsDT, newPrefixo" onclick="PF('process').show();" oncomplete="PF('process').hide();" icon="ui-icon-document"/>
            <p:outputLabel value="|" class="middleDiv"/>
            <p:commandButton id="nsDTButton2" value="Excluir" update="nsDT, newPrefixo" action="#{nsBean.deleteNs()}" onclick="PF('process').show();" oncomplete="PF('process').hide();" icon="ui-icon-trash" />

        </p:fieldset>
        
    </p:fieldset>
</ui:composition>