<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Gerenciador de Recursos Semânticos</title>
        <link rel="stylesheet" href="css/meu_estilo.css" type="text/css"/>
    </h:head>
    <h:body>
        <ui:include src="menuBar.xhtml"/>
        
        <p:panel id="painelGeral">
            <f:facet name="header">
                <p:graphicImage url="imagens/newResource.png" class="panelIconNR" />
                <p:outputLabel value=" Cadastrar Recurso"/>
            </f:facet>
            <h:form>
                <p:growl id="growl" showSummary="false" showDetail="true" autoUpdate="true" life="5000" />
                
                
                <ui:include src="namespacesFieldset.xhtml"/>
                
                
                <ui:include src="formsFieldset.xhtml"/>
                                
                <p:fieldset id="triplasForm" class="fieldSets" legend="Triplas:">
                    <pe:dynaForm id="dynaForm" value="#{graphBean.model}" var="tripla" class="dynaForm"> 
                        <pe:dynaFormControl type="dominioForm">  
                            <p:outputLabel id="dominio"  value="#{tripla.subject.domain}" />
                        </pe:dynaFormControl>
                        <pe:dynaFormControl type="idForm" >  
                            <p:outputLabel id="id"  value="&nbsp; / [ id ]" title="Identificador único. Gerado automaticamente ao cadastrar este recurso" />
                        </pe:dynaFormControl>
                        <pe:dynaFormControl type="sujeitoFormInvisible">  
                            <p:inputText id="sujeitoInvisible" rendered="false" value="#{tripla.subject.subject}"/>
                        </pe:dynaFormControl>
                        <pe:dynaFormControl type="sujeitoForm">                              
                            <p:inputText id="sujeito"  value="#{tripla.subject.subject}">
                                <p:ajax event="blur" process="@this"/>
                            </p:inputText>
                        </pe:dynaFormControl>
                        <pe:dynaFormControl class="dynaFormPredObj"  type="predicadoForm">  
                            <p:autoComplete id="predicado" value="#{tripla.predicate.predicate}" completeMethod="#{graphBean.completeTextPredicate}" minQueryLength="3" maxResults="5">
                                <p:ajax event="blur" process="@this"/>
                            </p:autoComplete>                            
                        </pe:dynaFormControl>
                        <pe:dynaFormControl class="dynaFormPredObj"  type="predicadoFormRead">  
                            <p:inputText id="predicadoRead" readonly="true" value="#{tripla.predicate.predicate}">
                                <p:ajax event="blur" process="@this" />
                            </p:inputText>    
                        </pe:dynaFormControl>
                        <pe:dynaFormControl class="dynaFormPredObj" type="predicadoFormInvisible">  
                            <p:inputText id="predicadoInvisible" readonly="true" rendered="false" value="#{tripla.predicate.predicate}"/>  
                        </pe:dynaFormControl>
                        <pe:dynaFormControl class="dynaFormPredObj" type="objetoFormRdfType">
                            <p:autoComplete id="objetoRdfType" value="#{tripla.object.object}" completeMethod="#{graphBean.completeTextObject}" minQueryLength="3" maxResults="5">
                                <f:attribute name="tripla" value="#{tripla}" />
                                <p:ajax event="itemSelect" process="@this" delay="100" update="dynaForm" listener="#{graphBean.generateForm(tripla)}"/>
                                <p:ajax event="blur" process="@this" />
                            </p:autoComplete>    
                        </pe:dynaFormControl>
                        <pe:dynaFormControl class="dynaFormPredObj" type="objetoForm">
                            <p:autoComplete id="objeto" value="#{tripla.object.object}" completeMethod="#{graphBean.completeTextObject}" minQueryLength="3" maxResults="5">
                                <f:attribute name="tripla" value="#{tripla}" />
                                <p:ajax event="blur" process="@this"/>
                            </p:autoComplete>    
                        </pe:dynaFormControl>
                        <pe:dynaFormControl type="op0" styleClass="clearLink">
                            <p:commandButton update="dynaForm"
                                           action="#{graphBean.addTripla(tripla, 1)}"  
                                           global="false" class="buttonTriplePanel"
                                           value=";" />
                            <p:commandButton update="dynaForm"  
                                           action="#{graphBean.addTripla(tripla, 2)}"  
                                           global="false" class="buttonTriplePanel"
                                           value="," />
                            <p:commandButton  update="dynaForm" disabled="true" 
                                           action="#{graphBean.removeTripla(tripla)}"  
                                           global="false" class="buttonTriplePanel"
                                           icon="ui-icon-trash"/>
                        </pe:dynaFormControl>
                        <pe:dynaFormControl type="op1" styleClass="clearLink">
                            <p:commandButton update="dynaForm"  
                                           action="#{graphBean.addTripla(tripla, 1)}"  
                                           global="false" class="buttonTriplePanel"
                                           value=";"/>
                            <p:commandButton update="dynaForm"  
                                           action="#{graphBean.addTripla(tripla, 2)}"  
                                           global="false" class="buttonTriplePanel"
                                           value="," />
                            <p:commandButton update="dynaForm"  
                                           action="#{graphBean.removeTripla(tripla)}"  
                                           global="false" class="buttonTriplePanel"
                                           icon="ui-icon-trash" />
                        </pe:dynaFormControl>
                        <pe:dynaFormControl type="op2" styleClass="clearLink">
                            <p:commandButton update="dynaForm" disabled="true"
                                           action="#{graphBean.addTripla(tripla, 1)}"  
                                           global="false" class="buttonTriplePanel"
                                           value=";" />
                            <p:commandButton update="dynaForm"  
                                           action="#{graphBean.addTripla(tripla, 2)}"  
                                           global="false" class="buttonTriplePanel"
                                           value="," />
                            <p:commandButton  update="dynaForm"  
                                           action="#{graphBean.removeTripla(tripla)}"  
                                           global="false" class="buttonTriplePanel"
                                           icon="ui-icon-trash" />
                        </pe:dynaFormControl>
                        <pe:dynaFormControl type="op3" styleClass="clearLink">
                            <p:commandButton update="dynaForm" disabled="true"
                                           action="#{graphBean.addTripla(tripla, 1)}"  
                                           global="false" class="buttonTriplePanel"
                                           value=";" validateClient="false" immediate="true"/>
                            <p:commandButton update="dynaForm" disabled="true" 
                                           action="#{graphBean.addTripla(tripla, 2)}"  
                                           global="false" class="buttonTriplePanel"
                                           value="," validateClient="false" immediate="true"/>
                            <p:commandButton  update="dynaForm"  
                                           action="#{graphBean.removeTripla(tripla)}"  
                                           global="false" class="buttonTriplePanel"
                                           icon="ui-icon-trash" validateClient="false" immediate="true"/>
                        </pe:dynaFormControl>
                    </pe:dynaForm>
                    <p:fieldset id="saveFormCheckFS" class="fieldSets">
                        <p:selectBooleanCheckbox id="saveFormCheck" value="#{graphBean.saveForm}" >
                            <p:ajax update="saveFormCheckFS"/>
                        </p:selectBooleanCheckbox>
                        <p:outputLabel for="saveFormCheck" value=" Desejo salvar este formulário para uso futuro."/><br/>
                        <p:outputLabel for="saveFormName" value="Nome do formulário: " rendered="#{graphBean.saveForm}"/>
                        <p:inputText id="saveFormName" class="formName" value="#{graphBean.saveFormName}" rendered="#{graphBean.saveForm}"/>
                    </p:fieldset> 
                </p:fieldset>
                       
                
                <p:fieldset class="fieldButton">
                    <p:commandButton value="Voltar"  
                                     class="buttonNewRPanel" icon="ui-icon-arrowreturnthick-1-w"
                                     oncomplete="window.location.assign('index.xhtml');" />
                    <p:commandButton value="Limpar" update="triplasForm" action="#{graphBean.limpar()}"  
                                     class="buttonNewRPanel middleButtons" icon="ui-icon-document"
                                     onclick="PF('process').show();" oncomplete="PF('process').hide();"
                                     validateClient="false" immediate="true"/>  
                    <p:commandButton value="Salvar" class="buttonNewRPanel" 
                                     action="#{graphBean.salvar()}" update="triplasForm"
                                     icon="ui-icon-disk" onclick="PF('process').show();" 
                                     oncomplete="PF('process').hide();"/>
                </p:fieldset>  

            </h:form>
        </p:panel>
        
        <p:dialog  widgetVar="process" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
            <p:graphicImage url="imagens/carregando.gif" class="loading" />
        </p:dialog>
        
    </h:body>
</html>

