<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Gerenciador de Recursos Semânticos</title>
        <link rel="stylesheet" href="css/meu_estilo.css" type="text/css"/>
    </h:head>
    <h:body>
        <ui:include src="menuBar.xhtml"/>
        <p:panel id="SingInUser">
            <f:facet name="header">
                <p:graphicImage url="imagens/newUser.png" class="panelIcon"  />
                <p:outputLabel value=" Criar Nova Conta"/>
            </f:facet>
            <h:form> 
                <p:growl id="growl" showSummary="false" showDetail="true" autoUpdate="true" life="5000" />
            
                <p:outputLabel  value="Nome completo:" for="NewUserName"/> <br/>
                <p:inputText id="NewUserName" value="#{newUserBean.name}" class="inputEmail" required="true" requiredMessage="Informe o nome completo!" /> <br/>

                <p:outputLabel value="E-mail:" for="NewUserEmail"/> <br/>
                <p:inputText id="NewUserEmail"  value="#{newUserBean.email}" class="inputEmail" required="true" requiredMessage="Informe o E-mail!" /> <br/>

                <p:outputLabel value="Telefone:"/> <br/>
                <p:inputMask mask="(99)99999-9999" value="#{newUserBean.phone}"/><br/>    

                <p:outputLabel value="Senha:" for="NewUserPass"/> <br/>
                <p:password id="NewUserPass" value="#{newUserBean.passwd}" required="true" requiredMessage="Informe a Senha!" /> <br/>

                <p:outputLabel for="adm" value="Tipo:"/>
                <p:selectOneRadio id="adm" value="#{newUserBean.adm}" required="true" requiredMessage="Informe o tipo!" >
                    <f:selectItem itemLabel="Comum" itemValue="0" />
                    <f:selectItem itemLabel="Administrador" itemValue="1" />
                </p:selectOneRadio>
                <br/>
                <p:fieldset class="fieldButton">
                        <p:commandButton class="buttons" value="Voltar" oncomplete="window.location.assign('index.xhtml');" icon="ui-icon-arrowreturnthick-1-w"/>
                        <p:commandButton class="buttons middleButtons" value="Limpar" update="SingInUser" action="#{newUserBean.limpar()}" icon="ui-icon-document" onclick="PF('process').show();" oncomplete="PF('process').hide();"/>
                        <p:commandButton class="buttons" value="Salvar" action="#{newUserBean.salvar()}" update="SingInUser" icon="ui-icon-disk" onclick="PF('process').show();" oncomplete="PF('process').hide();"/>
                    </p:fieldset>
            </h:form>
        </p:panel>
        
        <p:dialog  widgetVar="process" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
            <p:graphicImage url="imagens/carregando.gif" class="loading" />
        </p:dialog>
        
    </h:body>
</html>