<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Gerenciador de Recursos Semânticos</title>
        <link rel="stylesheet" href="css/meu_estilo.css" type="text/css"/>
    </h:head>
    <h:body>
        <ui:include src="menuBar.xhtml"/>
        
        <p:panel id="painelGeral">
            <f:facet name="header">
                <p:graphicImage url="imagens/sparql.png" class="panelIconNR"  />
                <p:outputLabel value=" Pesquisar Recursos Cadastrados"/>
            </f:facet>
            <h:form>
                <p:growl id="growl" showSummary="false" showDetail="true" autoUpdate="true" life="5000" />
                
                
                <ui:include src="namespacesFieldset.xhtml"/>
                
                
                <ui:include src="formsFieldset.xhtml"/>
                                
                <p:fieldset legend="Formulário de Busca:" class="fieldSets" id="triplasForm" toggleable="true">
                    <pe:dynaForm id="dynaForm" value="#{resourcesBean.model}" var="tripla" class="dynaForm"> 
                        <pe:dynaFormControl type="dominioForm">  
                            <p:outputLabel id="dominio"  value="#{tripla.subject.domain}" />
                        </pe:dynaFormControl>
                        <pe:dynaFormControl type="idForm">  
                            <p:outputLabel id="id"  value="&nbsp; / [ id ]" title="Identificador único. Gerado automaticamente ao cadastrar este recurso" />
                        </pe:dynaFormControl>
                        <pe:dynaFormControl type="sujeitoFormInvisible">  
                            <p:inputText id="sujeitoInvisible" rendered="false" value="#{tripla.subject.subject}"/>
                        </pe:dynaFormControl>
                        <pe:dynaFormControl type="sujeitoForm">                              
                            <p:inputText id="sujeito"  value="#{tripla.subject.subject}">
                                <p:ajax event="blur" process="@this"/>
                            </p:inputText>
                        </pe:dynaFormControl>
                        <pe:dynaFormControl class="dynaFormPredObj" type="predicadoForm">  
                            <p:autoComplete id="predicado" value="#{tripla.predicate.predicate}" completeMethod="#{resourcesBean.completeTextPredicate}">
                                <p:ajax event="blur" process="@this"/>
                            </p:autoComplete>                            
                        </pe:dynaFormControl>
                        <pe:dynaFormControl class="dynaFormPredObj" type="predicadoFormRead">  
                            <p:inputText id="predicadoRead"  readonly="true" value="#{tripla.predicate.predicate}">
                                <p:ajax event="blur" process="@this" />
                            </p:inputText>    
                        </pe:dynaFormControl>
                        <pe:dynaFormControl class="dynaFormPredObj" type="predicadoFormInvisible">  
                            <p:inputText id="predicadoInvisible" readonly="true" rendered="false" value="#{tripla.predicate.predicate}"/>  
                        </pe:dynaFormControl>
                        <pe:dynaFormControl class="dynaFormPredObj" type="objetoFormRdfType">
                            <p:autoComplete id="objetoRdfType" value="#{tripla.object.object}" completeMethod="#{resourcesBean.completeTextObject}">
                                <f:attribute name="tripla" value="#{tripla}" />
                                <p:ajax event="itemSelect" process="@this" delay="100" update="dynaForm" listener="#{resourcesBean.generateForm(tripla)}"/>
                                <p:ajax event="blur" process="@this" />
                            </p:autoComplete>    
                        </pe:dynaFormControl>
                        <pe:dynaFormControl class="dynaFormPredObj" type="objetoForm">
                            <p:autoComplete id="objeto" value="#{tripla.object.object}" completeMethod="#{resourcesBean.completeTextObject}" >
                                <f:attribute name="tripla" value="#{tripla}" />
                                <p:ajax event="blur" process="@this"/>
                            </p:autoComplete>    
                        </pe:dynaFormControl>
                        <pe:dynaFormControl type="op0" styleClass="clearLink">
                            <p:commandButton update="dynaForm"
                                           action="#{resourcesBean.addTripla(tripla, 1)}"  
                                           global="false" class="buttonTriplePanel"
                                           value=";" />
                            <p:commandButton update="dynaForm"  
                                           action="#{resourcesBean.addTripla(tripla, 2)}"  
                                           global="false" class="buttonTriplePanel"
                                           value="," />
                            <p:commandButton  update="dynaForm" disabled="true" 
                                           action="#{resourcesBean.removeTripla(tripla)}"  
                                           global="false" class="buttonTriplePanel"
                                           icon="ui-icon-trash"/>
                        </pe:dynaFormControl>
                        <pe:dynaFormControl type="op1" styleClass="clearLink">
                            <p:commandButton update="dynaForm"  
                                           action="#{resourcesBean.addTripla(tripla, 1)}"  
                                           global="false" class="buttonTriplePanel"
                                           value=";"/>
                            <p:commandButton update="dynaForm"  
                                           action="#{resourcesBean.addTripla(tripla, 2)}"  
                                           global="false" class="buttonTriplePanel"
                                           value="," />
                            <p:commandButton update="dynaForm"  
                                           action="#{resourcesBean.removeTripla(tripla)}"  
                                           global="false" class="buttonTriplePanel"
                                           icon="ui-icon-trash" />
                        </pe:dynaFormControl>
                        <pe:dynaFormControl type="op2" styleClass="clearLink">
                            <p:commandButton update="dynaForm" disabled="true"
                                           action="#{resourcesBean.addTripla(tripla, 1)}"  
                                           global="false" class="buttonTriplePanel"
                                           value=";" />
                            <p:commandButton update="dynaForm"  
                                           action="#{resourcesBean.addTripla(tripla, 2)}"  
                                           global="false" class="buttonTriplePanel"
                                           value="," />
                            <p:commandButton  update="dynaForm"  
                                           action="#{resourcesBean.removeTripla(tripla)}"  
                                           global="false" class="buttonTriplePanel"
                                           icon="ui-icon-trash" />
                        </pe:dynaFormControl>
                        <pe:dynaFormControl type="op3" styleClass="clearLink">
                            <p:commandButton update="dynaForm" disabled="true"
                                           action="#{resourcesBean.addTripla(tripla, 1)}"  
                                           global="false" class="buttonTriplePanel"
                                           value=";" validateClient="false" immediate="true"/>
                            <p:commandButton update="dynaForm" disabled="true" 
                                           action="#{resourcesBean.addTripla(tripla, 2)}"  
                                           global="false" class="buttonTriplePanel"
                                           value="," validateClient="false" immediate="true"/>
                            <p:commandButton  update="dynaForm"  
                                           action="#{resourcesBean.removeTripla(tripla)}"  
                                           global="false" class="buttonTriplePanel"
                                           icon="ui-icon-trash" validateClient="false" immediate="true"/>
                        </pe:dynaFormControl>
                    </pe:dynaForm>  
                    
                   
                </p:fieldset>
                
                
                <p:fieldset class="fieldButton">
                    <p:commandButton value="Voltar"  
                                     class="buttonNewRPanel" icon="ui-icon-arrowreturnthick-1-w"
                                     oncomplete="window.location.assign('index.xhtml');" />
                    <p:commandButton value="Limpar" update="triplasForm" action="#{resourcesBean.limpar()}"  
                                     class="buttonNewRPanel middleButtons" icon="ui-icon-document"
                                     onclick="PF('process').show();" oncomplete="PF('process').hide();" />  
                    <p:commandButton value="Buscar" class="buttonNewRPanel" 
                                     action="#{resourcesBean.buscar()}"  update="result"
                                     icon="ui-icon-search" onclick="PF('process').show();" 
                                     oncomplete="PF('process').hide();"/>
                </p:fieldset>
                
                <hr/>
                <p:fieldset id="result" legend="Resultado da Busca:">
                    
                    <p:treeTable id="treeTableResult" value="#{resourcesBean.root}" var="string" paginator="true" rows="10" emptyMessage="Nenhum resultado encontrado.">
                        <p:column headerText="URI" sortBy="string.toString()" sortable="true" style="text-align: left">
                            <h:outputText value="#{string.toString()}" />
                        </p:column>
                        <p:column style="width:24px">
                            <p:commandLink styleClass="ui-icon ui-icon-pencil" rendered="#{!string.contains(' = ')}" action="editResource.xhtml" >
                                <f:param name="graphUri" value="#{string}" />
                                <f:param name="i" value="2" />
                            </p:commandLink>
                        </p:column>
                        <p:column style="width:24px">
                            <p:commandLink styleClass="ui-icon ui-icon-trash" 
                                           rendered="#{!string.contains(' = ')}" 
                                           actionListener="#{resourcesBean.delete(string)}" 
                                           update="treeTableResult" 
                                           onclick="PF('process').show();" oncomplete="PF('process').hide();">
                                <f:param name="graphUri" value="#{string}" />
                                <p:confirm header="Confirmação" message="Deseja realmente excluir o recurso #{string.toString()} ?" icon="ui-icon-alert" />
                            </p:commandLink>
                        </p:column>
                    </p:treeTable>
                    
                </p:fieldset>
                
                <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                    <p:commandButton value="Sim" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                    <p:commandButton value="Não" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                </p:confirmDialog>  

            </h:form>
        </p:panel>
        
        <p:dialog  widgetVar="process" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
            <p:graphicImage url="imagens/carregando.gif" class="loading" />
        </p:dialog>
       
        
    </h:body>
</html>

