<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Gerenciador de Recursos Semânticos</title>
        <link rel="stylesheet" href="css/meu_estilo.css" type="text/css"/>
    </h:head>
    <h:body>
        
        <ui:include src="menuBar.xhtml"/>
        
        <p:panel id="panelTerm">
            <f:facet name="header">
                <p:graphicImage url="imagens/sparql.png" class="panelIconNR"/>
                <p:outputLabel value="Terminal SPARQL"/>
            </f:facet>
            <h:form>
                <p:growl id="growl" showSummary="false" showDetail="true" autoUpdate="true" life="5000" />
                
                <ui:include src="namespacesFieldset.xhtml"/>
                
                <p:fieldset class="fieldSets" legend="Consulta">
                    <p:inputTextarea rows="8" cols="88" autoResize="true" value="#{terminalSparqlBean.querySPARQL}" />
                    <p:fieldset class="optionTerm">
                        <h:outputLabel value="Limite de Resultados:" /><br/>
                        <p:selectOneMenu value="#{terminalSparqlBean.limitResults}">                           
                            <f:selectItem itemLabel="5" itemValue="5" />
                            <f:selectItem itemLabel="10" itemValue="10" />
                            <f:selectItem itemLabel="50" itemValue="50" />
                            <f:selectItem itemLabel="100" itemValue="100"  />
                            <f:selectItem itemLabel="250" itemValue="250" />
                            <f:selectItem itemLabel="500" itemValue="500" />
                        </p:selectOneMenu><br/>
                        <p:selectBooleanCheckbox id="bc1" value="#{terminalSparqlBean.reasoning}"  />
                        <h:outputLabel value=" Raciocinador "/><br/>
                        <p:selectBooleanCheckbox id="bc2" value="#{terminalSparqlBean.URI}" />
                        <h:outputLabel value=" Com URI's "/><br/>
                        <h:outputLabel value="Usar Repositório:" /><br/>
                        <p:selectOneMenu value="#{terminalSparqlBean.repository}"  >
                            <f:selectItem itemLabel="Dados" itemValue="dados" />
                            <f:selectItem itemLabel="Ontologias" itemValue="ontologias" />
                            <f:selectItem itemLabel="Ambos" itemValue="ambos" />
                        </p:selectOneMenu>
                    </p:fieldset>
                    <br/>
                    <p:fieldset class="fieldButton" >
                        <p:commandButton class="buttonNewRPanel" value="Voltar" 
                                         oncomplete="window.location.assign('index.xhtml?i=0');"
                                         icon="ui-icon-arrowreturnthick-1-w"/>
                        <p:commandButton class="buttonNewRPanel middleButtons" value="Limpar"
                                         ajax="true" immediate="true" type="reset"
                                         icon="ui-icon-document"/>
                        <p:commandButton class="buttonNewRPanel" value="Executar" icon="ui-icon-search" 
                                         onclick="PF('process').show();" oncomplete="PF('process').hide();" 
                                         action="#{terminalSparqlBean.execute()}" update="tabResult" />
                    </p:fieldset>
                </p:fieldset>


                <p:fieldset class="fieldSets" legend="Resultados" >
                    <p:tabView id="tabResult" class="tabView">
                        <p:tab title="Triplas">
                            <p:dataTable id="dataTriplas" var="stmt" value="#{terminalSparqlBean.triplas}" >
                                <f:facet name="header">Resultados</f:facet>
                                <p:column headerText="S">
                                    <h:outputText value="#{stmt.subject.uri}" />
                                </p:column>
                                <p:column headerText="P">
                                    <h:outputText value="#{stmt.predicate.predicate}" />
                                </p:column>
                                <p:column headerText="O">
                                    <h:outputText value="#{stmt.object.object}"/>
                                </p:column>
                            </p:dataTable>
                        </p:tab>
                        <p:tab title="RDF/XML" >
                            <p:inputTextarea value="#{terminalSparqlBean.rdf}" readonly="true" style="width: 100%"/>
                        </p:tab>
                        <p:tab title="Turtle">
                            <p:inputTextarea value="#{terminalSparqlBean.turtle}" readonly="true"  style="width: 100%" />
                        </p:tab>
                        <p:tab title="Json-ld">
                            <p:inputTextarea value="#{terminalSparqlBean.json}" readonly="true"  style="width: 100%" />
                        </p:tab>
                        <p:tab title="N-Triples">
                            <p:inputTextarea value="#{terminalSparqlBean.ntriple}" readonly="true"  style="width: 100%" />
                        </p:tab>
                        <p:tab title="Graph Image" >
                            <p:scrollPanel mode="native" style="width: 820px">
                                <p:graphicImage value="#{terminalSparqlBean.nameFile}" />
                            </p:scrollPanel>
                            
                        </p:tab>
                    </p:tabView>  
                    <p:fieldset class="fieldSets" >
                        <p:commandButton value="Exportar" ajax="false" onclick="PrimeFaces.monitorDownload(start, stop);" icon="ui-icon-arrowthick-1-s">
                            <p:fileDownload value="#{terminalSparqlBean.file}" />
                        </p:commandButton>
                                <h:outputLabel value=" usando o formato: " />
                                <p:selectOneMenu value="#{terminalSparqlBean.typeDownload}">
                                    <f:selectItem itemLabel="RDF" itemValue="RDF" />
                                    <f:selectItem itemLabel="Turtle" itemValue="Turtle" />
                                    <f:selectItem itemLabel="Json-ld" itemValue="Json-ld" />
                                    <f:selectItem itemLabel="N-Triples" itemValue="N-Triples" />
                                </p:selectOneMenu>
                            </p:fieldset>
                </p:fieldset>
            </h:form>
        </p:panel>
        <p:dialog  widgetVar="process" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
            <p:graphicImage url="imagens/carregando.gif" class="loading" />
        </p:dialog>
    </h:body>
</html>