<?xml version="1.0" encoding="UTF-8"?>
<ui:composition
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:pe="http://primefaces.org/ui/extensions">
  
        <h:form>            
            <p:panelGrid rendered="#{userBean.logged}" id="panelUserL"> 
                <h:outputText value="Bem-vindo(a), #{userBean.user.name}" /><br/>
                <p:menuButton value="Opções">
                    <p:menuitem value="Meus Dados" outcome="myAccount.xhtml" icon="ui-icon-pencil">
                        <f:param name="i" value="10" />
                    </p:menuitem>
                    <p:menuitem value="Gerenciar usuários" outcome="managerUsers.xhtml" icon="ui-icon-person" rendered="#{userBean.user.adm}">
                        <f:param name="i" value="10" />
                    </p:menuitem>
                    <p:separator/>
                    <p:menuitem value="Sair" action="#{userBean.deslogar()}" oncomplete="window.location.assign('login.xhtml');" icon="ui-icon-power">
                        <f:param name="i" value="10" />
                    </p:menuitem>
                </p:menuButton>
                   
            </p:panelGrid>
          
        </h:form>
    
</ui:composition>
                
