body{
    font-family: Arial !important;
    font-size: 14px !important;
}

hr{
    margin-top: 2%;
}

.buttonTriplePanel{
    margin-right: 3%;
}

.formName{
    width: 50%;
}

.loading{
    width: 50px;
    height: 5%;
}

.fieldButton{
    margin-top: 2%;
    text-align: center;
}

.buttonNewRPanel{
    width: 20%;
}

.middleButtons{
    margin-left: 4%;
    margin-right: 4%;
}

.panelIcon{
    width: 5%;
    height: 5%;
}

.panelIconNR{
    width: 3%;
    height: 3%;
}

.panelIconNRR{
    width: 2%;
    height: 2%;
}

#panelTerm{
    width: 70%;
    margin: 0px auto;
}

#painelGeral{
    margin: 0px auto;
    width: 60%;
}

#panelForgPasswd{
    width: 35%;
    margin: 0px auto;
}

.buttons{
    width: 30%;
}

.leftButtons{
    margin-right: 4%;
}

#SingInUser{
    margin: 0 auto;
    width: 40%;
}

#SingInNU{
    margin-left: 4%;
    margin-right: 4%;
    width: 30%;
}

#NewUserB{
    margin: auto;
    float: left;
    width: 35%;
    height: 100%;
    text-align: center;
}

#DivB{
    width: 53%;
    margin: 0 auto;
}

.dynaForm{
    width: 100%;
}

.dynaForm input{
    width: 99%;
}

.dynaFormPredObj span{
    width: 100%;
}

.botoesIndex{
    margin: 1%;
    float:left;
    width: 185px;
    height: 165px;
    text-align: center;
    font-weight: bold;
}

.inputLarge{
    width: 80%;
    margin-bottom: 6px;
}

#PanelLogin{
    float: right;
    margin: 0px auto; 
    width: 60%; 
    height: 100%
}

#ImageLogin{
    width: 90%;
    height: 15%;
}

.fieldSets{
   margin-top: 1.5%;
}

.columnFormSingle{
    width: 6%;
    text-align: center;
}

.columFormName{
    text-align: left !important;
}

.tabMenu{
    margin-bottom: 2%; 
    padding: 0px
}

.divUser{
    width: 45%; 
    float: right; 
    margin-right: 2%; 
    text-align: right
}

.divLogo{
    width: 50%; 
    float: left
}

#PanelMenu{
    height: 130px; 
    padding: 0;
}

.imageIndex{
    width: 80%;
}

.tabView{
    width: 100%;
}

#fieldResult{
    width: 50%
}

.optionTerm{
    margin-top: 0% !important;
    float: right;
}

.middleDiv{
    margin-left: 1%;
    margin-right: 1%;
}

.inputNameField{
    margin-right: 1%
}

.panelImport{
    width: 40%;
    margin: 0px auto;
}

.searchUser{
    margin-left: 10%;
}

.panelManage{
    width: 90%;
    margin: 0px auto;
}

.nameColumn{
    width: 25%;
}
.nameColumn input{
    width: 98%;
}

.column{
    text-align: center;
}

.numberColumn{
    width: 12%;
}

.iconT{
    width: 3%;
}

.keyLink{
    margin-left: 30% !important;
}

.panelIconManage{
    width: 2%;
}

.filters{
    width: 90% !important;
}

.fieldNewManage{
}

.inputEmail{
    width: 80%;
}